body {}
div.descripcion-password{display:block;text-align:justify;width:36%;float:left;}
div.centrado{width:50%;margin:0px auto;border-left:1px solid #ddd;float:right;clear:right;padding:10px;}
div.formulario div.barra-botones {margin-top:263px;} 
div.barra-botones span{width:300px;} 
div.barra-botones span button{width:80px;} 
div.barra-botones span button.cancelar{float:right;margin:0px;} 
div.barra-botones span button.guardar{float:left;} 
