<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HumansoftServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HumansoftServer.Properties.Settings>
            <setting name="HumansoftServer_ServiciosDeBolsa_ServiciosDeBolsa"
                serializeAs="String">
                <value>http://10.0.0.24:85/ServiciosDeBolsa.asmx</value>
            </setting>
            <setting name="HumansoftServer_WSBolsa_ServiciosDeBolsa" serializeAs="String">
                <value>http://10.0.0.24:85/ServiciosDeBolsa.asmx</value>
            </setting>
            <setting name="HumansoftServer_WSHumansoftPublico_WSExamenes"
                serializeAs="String">
                <value>http://localhost:6136/WS/WSExamenes.asmx</value>
            </setting>
        </HumansoftServer.Properties.Settings>
    </applicationSettings>
</configuration>