
div.mascara div.principal div.catalogo table.lista tr.columnas1
{
    border: 0px;
    
}
div.mascara div.principal div.catalogo table.lista tr.columnas th label
{
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: White;
    font-weight: bold;
}
div.mascara div.principal div.formulario div.alinear
{
    height: 350px;
    margin:50px;
}
div.mascara div.principal div.formulario h2.dga
{
    clear: both;
}
div.mascara div.principal div.catalogo table.lista tr.columnas th label.c-cat-1
{
    display: block;
    width: 55px;
    float: left;
    background-color: #5F96CC;
    margin-left: 5px;
}
div.mascara div.principal div.catalogo table.lista tr.columnas th label.c-cat-2
{
    display: block;
    width: 90px;
    float: left;
    background-color: #77AFE7;
}
div.mascara div.principal div.catalogo table.lista tr.columnas th label.c-cat-3
{
    display: block;
    width: 250px;
    float: left;
    background-color: #5F96CC;
}
div.mascara div.principal div.catalogo table.lista tr.columnas th label.c-cat-4
{
    display: block;
    width: 100px;
    float: left;
    background-color: #77AFE7;
}
div.mascara div.principal div.catalogo table.lista tr.columnas th label.c-cat-5
{
    display: block;
    width: 100px;
    float: left;
    background-color: #5F96CC;
}
div.mascara div.principal div.catalogo button.editar
{
    background-position: center center;
    padding: 13px;
    clear: left;
    float: left;
    background-image: url(/Recursos/imagenes/editar.png);
    background-repeat: no-repeat;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}
div.mascara div.principal div.catalogo table.lista tr.columnas .editar
{
    display: block;
    width: 75px;
    float: left;
}
div.mascara div.principal div.catalogo table.lista tr.columnas .ItemCat
{
    display: block;
    width: 50px;
    float: left;
}
div.mascara div.principal div.catalogo table.lista tr.columnas .descripcion
{
    display: block;
    width: 300px;
    float: left;
}
div.mascara div.principal div.catalogo table.lista tr.columnas .estatus
{
    display: block;
    width: 131px;
    float: left;
}
div.mascara div.principal div.catalogo table.lista tr.columnas .seleccionar
{
    display: block;
    width: 80px;
    float: left;
}
div.mascara div.principal div.catalogo table.lista tr.columnas img.seleccionar
{
    width: 25px;
    display: block;
    margin: auto;
    float: none;
}
div.mascara div.principal div.formulario label.l-form-1
{
    float: left;
    clear: left;
    margin-bottom: 20px;
    width: 90px;
}
div.mascara div.principal div.formulario input.c-form-1
{
    float: left;
    margin-bottom: 20px;
    width: 200px;
}
div.mascara div.principal div.formulario label.l-form-2
{
    float: left;
    clear: left;
    margin-bottom: 20px;
    width: 90px;
}
div.mascara div.principal div.formulario input.c-form-2
{
    float: left;
    margin-bottom: 20px;
    width: 200px;
}
div.mascara div.principal div.formulario div.alinear label.l-form-3
{
    float: left;
    clear: left;
    width: 90px;
}
div.mascara div.principal div.formulario div.alinear select.c-form-3
{
    width: 100px;
    float: left;
    float: left;
}
div.mascara div.principal div.formulario button.guardar
{
    float: left;
    cursor: pointer;
}
div.mascara div.principal div.formulario button.cancelar
{
    float: right;
    cursor: pointer;
}
div.barra-botones span
{
    width: 290px;
}

.ocultar
{
    visibility: hidden;
}
.mostrar
{
    visibility: visible;
}
