div.mascara div.principal div.catalogo table.lista tr.columnas1 {border:0px; border-bottom:1px dashed #aaaaaa;}
div.mascara div.principal div.catalogo table.lista tr.columnas th label{padding:10px;border-top-left-radius:5px;border-top-right-radius:5px;color:White; font-weight:bold;}
div.mascara div.principal div.formulario div.alinear {height:430px;min-height:430px;}
div.mascara div.principal div.formulario h2.conceptos {clear:both;}
div.mascara div.principal div.catalogo table.lista  tr.columnas th label.editar{display:block; width:55px;float:left; background-color:#5F96CC;margin-left:5px; }
div.mascara div.principal div.catalogo table.lista  tr.columnas th label.clave {display:block; width:50px;float:left; background-color:#77AFE7;margin-left:5px;}
div.mascara div.principal div.catalogo table.lista  tr.columnas th label.dgagru {display:block; width:130px;float:left; background-color:#5F96CC;margin-left:5px;}
div.mascara div.principal div.catalogo table.lista  tr.columnas th label.nombredep{display:block; width:250px;float:left; background-color:#77AFE7;margin-left:5px;}
div.mascara div.principal div.catalogo table.lista  tr.columnas th label.estatus{display:block; width:75px;float:left; background-color:#5F96CC;margin-left:5px;}
div.mascara div.principal div.catalogo button.editar {background-position:center center;padding:13px;clear:left; float:left;background-image:url(/Recursos/imagenes/editar.png);background-repeat:no-repeat; border:0px; background-color:transparent; cursor:pointer;}
div.mascara div.principal div.catalogo table.lista tr.columnas .editar{display:block; width:75px;float:left; }
div.mascara div.principal div.catalogo table.lista tr.columnas .clave {display:block; width:81px;float:left;}
div.mascara div.principal div.catalogo table.lista tr.columnas .dgagru {display:block; width:161px;float:left;}
div.mascara div.principal div.catalogo table.lista tr.columnas .nombredep{display:block; width:281px;float:left;}
div.mascara div.principal div.catalogo table.lista tr.columnas .estatus{display:block; width:106px;float:left;}
div.mascara div.principal div.formulario label.clave {display:block; width:60px;float:left;margin-bottom:20px;width:60px;}
div.mascara div.principal div.formulario input.clave {float:left;margin-bottom:20px;width:60px;}
div.mascara div.principal div.formulario label.dgagru {float:left;clear:left;margin-bottom:20px;width:80px;}
div.mascara div.principal div.formulario select.dgagru {float:left;margin-bottom:20px;width:200px;}
div.mascara div.principal div.formulario label.nombre {float:left;clear:left;margin-bottom:20px;width:80px;}
div.mascara div.principal div.formulario input.nombre {float:left;margin-bottom:20px;width:200px;}
div.mascara div.principal div.formulario label.empresa {float:left;clear:left;margin-bottom:20px;width:80px;}
div.mascara div.principal div.formulario select.empresa {float:left;margin-bottom:20px;width:200px;}
div.mascara div.principal div.formulario label.ccostos {float:left;clear:left;margin-bottom:20px;width:80px;}
div.mascara div.principal div.formulario input.ccostos {float:left;margin-bottom:20px;width:200px;}
div.mascara div.principal div.formulario div.alinear label.estatus { float:left;clear:left;width:60px;}
div.mascara div.principal div.formulario div.alinear select.estatus {width:90px; float:left;float:left;}
div.mascara div.principal div.formulario button.guardar {float:left; cursor:pointer; }        
div.mascara div.principal div.formulario button.cancelar {float:right; cursor:pointer;}  
div.mascara div.principal div.formulario div.columnaI {float:left;width:48%; border-right:1px solid #ccc}
div.mascara div.principal div.formulario div.columnaD {float:right;width:48%;}
div.barra-botones span{width:290px;} 
div.mascara div.principal div.formulario div.barra-botones {margin-top:90px;} 
.ocultar{visibility:hidden;}
.mostrar{visibility:visible;}